html
    link(href="./css/style.css" rel="stylesheet")
    head
        title= title
    body
        h1= message
        article
            header
                h2= catName
                
                figure
                    img(src='./img/cat.jpg' class="big small trans")
            p= age
            p= weight

            script(src="./js/main.js")